body{
    text-align: center;
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header, .footer, .hero-content
{
    background-color: #1F2937;
}

.hero-subtitle, .header-link
{
    font-size: 18px;
    color: #E5E7EB;
}

.header
{
    display: flex;
    gap:16px;
    background-color: #1F2937;
}

.logo
{
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.hero-content
{
    display:flex;
}

.hero-description
{
    text-align: left;
}

.hero-title
{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.information-title
{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.information-cards
{
    display: flex;
}

.quote-content
{
    background-color: #E5E7EB;
}

.quote
{
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
}

.cta
{
    display: flex;   
}

.cta, button
{
    background-color: #3992F6;
}